
 ../../.bash_history
        ../../.dbus-keyrings/
        ../../.gitconfig
        ../../.idlerc/
        ../../.lesshst
        ../../.minttyrc
        ../../.node_repl_history
        ../../.ssh/
        ../../.viminfo
        ../../.vscode/
        ../../3D Objects/
        ../../Animes-Yoritai-/
        ../../Animes-Yoritai-clonado/
        ../../AppData/
        ../../Contacts/
        ../
        ../../Dio_SimplePage/
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../../Links/
        ../../Mini_ErHu.32.dll
        ../../Mini_ErHu.32.txt
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{8d5141ba-ff54-11ef-86e8-8c47e2b3e073}.TM.blf
        ../../NTUSER.DAT{8d5141ba-ff54-11ef-86e8-8c47e2b3e073}.TMContainer000000
00000000000001.regtrans-ms
        ../../NTUSER.DAT{8d5141ba-ff54-11ef-86e8-8c47e2b3e073}.TMContainer000000
00000000000002.regtrans-ms
        ../../OneDrive/
        ../../PaceKeyChain
        ../../Pictures/
        ../../PycharmProjects/
        ../../Saved Games/
        ../../Searches/
        ../../Videos/
        ../../bra/
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        ../../pspp.jnl
        ../../resumos/
        ../../testy/